@font-face {
    font-family: 'Ringbearer';
    src: url('fonts/ringbearer/RINGM___.TTF') format('truetype');
}

@font-face {
    font-family: 'Tengwar';
    src: url('fonts/tengwar-345-cdnfonts/TENGWAR4.TTF') format('truetype');
}

.tengwar-font {
    font-family: 'Tengwar', 'Ringbearer';
}

.nav-link {
    display: inline-block;
    width: 125px;
    text-align: center;
}

.galeria-imagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.galeria-imagem img {
    max-width: 45%;
    height: auto;
}

#sectionInicio {
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#logoHeader {
    width: 200px;
    margin-left: -20px;
}

#btnVoltaTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#btnVoltaTopo img {
    width: 20px;
}

#dadosContato ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

#sectionInicio {
    margin-top: -20px;
}

#textoNormal {
    font-family: 'Ringbearer';
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
}

#sectionSobre {
    text-align: justify;
    margin-left: 160px;
    margin-right: 200px;
    background-image: url('../imgs/oldScroll.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px;
}

#sectionSobreTitulo {
    text-align: center;
    padding-top: 5%;
}

#sectionComoJogar {
    padding-top: 5%;
    text-align: center;
    margin-left: 160px;
    margin-right: 200px;
}

#sectionComoJogar img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sectionContato {
    padding-top: 5%;
    text-align: center;
}

#dadosContato ul li a {
    display: block;
    text-decoration: none;
    color: goldenrod;
    transition: background-image 0.3s;
}

#dadosContato ul li a:hover {
    color: gold;
}

#underConstruction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

#underConstruction img{
    max-width: 10%;
}

#calmaAiPaizao {
    position: relative;
    text-align: center;
}

#calmaAiPaizao p {
    position: relative;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 0px;
}

#calmaAiPaizao img{
    max-width: 100%;
    margin: auto;
}

body {
    display: flexbox;
    background-color: #e8f5e9;
    margin: 0;
    font-family: 'Ringbearer', Raleway, Arial;
    font-size: 16px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #2c3e2d 80%, #e8f5e9 99%);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background: linear-gradient(to bottom, #2c3e2d 80%, #e8f5e9 99%);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 80px;
}

header nav ul li {
    display: inline-block;
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: goldenrod;
}

header nav ul li a:hover {
    color: gold;
}

footer nav ul li {
    display: inline-block;
    padding: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: goldenrod;
}

@media (max-width: 550px) {
    #menuPrincipal {
        padding-top: 15px;
    }
    
    #menuPrincipal ul {
        font-size: 99%;
        padding: 0;
    }

    #textoNormal {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }

    #sectionSobre {
        padding: 50px 50px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    #sectionSobreTitulo {
        padding: 0;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    header {
        background: linear-gradient(to bottom, #2C3E2D 90%, #E8F5E9 95%);
        height: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .nav-link {
        width: auto;
        padding: 10px;
    }

    #logoHeader {
        width: 80%;
        margin-top: -15%;
        margin-bottom: -40%;
        padding-bottom: 5%;
    }

    #menuPrincipal {
        margin-top: 15%;
        margin-left: 0px;
        padding: auto;
        font-size: small;
    }

    #menuPrincipal ul {
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 5px;
    }

    #menuPrincipal ul li {
        margin: 0 5px;
        flex-grow: 1;
        text-align: center;
    }

    #textoNormal {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }

    #sectionSobre {
        margin: 0;
    }

    #sectionSobreTitulo {
        margin-top: 100px;
    }

    #underConstruction img {
        max-width: 40%;
    }

    #dadosContato {
        font-size: 14px;
    }

    #jogarAgora {
        display: flex;
        padding-top: 300px;
        flex-direction: column;
    }

    #jogarAgora header {
        height: 10%;
    }

    #jogarAgora #calmaAiPaizao {
        padding-bottom: 30px;
    }

    #jogarAgora footer {  
        position: static;
    }
    
    /*Estou cobrindo o primeiro h1 (da linha 35 html) porque fica redundante nos aparelhos móveis*/
    body {
    background-color: #e8f5e9;
    margin-top: auto;
    font-family: 'Ringbearer', Raleway, Arial;
    font-size: 16px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    }

    body::before {
        background-size: 20vw;
        background-position:
        5vw 5vh,
        70vw 10vh,
        10vw 20vh,
        60vw 30vh,
        15vw 40vh,
        75vw 50vh,
        5vw 60vh,
        80vw 70vh,
        25vw 80vh,
        40vw 90vh,
        10vw 95vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        padding-top: 80px;
    }

    .nav-link {
        width: auto;
        padding: auto;
    }

#textoNormal {
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }

    #sectionSobre {
        max-width: 100%;
        padding: 80px 40px;
        box-sizing: border-box;
        font-size: small;
    }

    #underConstruction img {
        max-width: 25%;
    }

    #dadosContato ul li a {
        font-size: 14px;
    }

    #jogarAgora header nav ul li a {
        padding: 10px 15px;
    }

    #jogarAgora #calmaAiPaizao p {
        font-size: 18px;
    }

    #jogarAgora #calmaAiPaizao img {
        width: 70%;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    #sectionSobre {
        max-width: 100%;
        padding: 100px 100px;
        padding-top: 130px;
        padding-bottom: 130px;
        box-sizing: border-box;
        font-size: large;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
    url('/background-imgs/icons8-frodo-100.png'),
    url('/background-imgs/icons8-one-ring-100.png'),
    url('/background-imgs/icons8-leaf-of-lorien-100.png'),
    url('/background-imgs/socks1.png'),
    url('/background-imgs/icons8-one-ring-100.png'),
    url('/background-imgs/socks2.png'),
    url('/background-imgs/icons8-legolas-100.png'),
    url('/background-imgs/socks3.png'),
    url('/background-imgs/socks1.png'),
    url('/background-imgs/icons8-leaf-of-lorien-100.png'),
    url('/background-imgs/socks3.png');
    background-repeat: no-repeat;
    background-size: 10vw;
    background-position:
    5vw 5vh,
    70vw 10vh,
    10vw 20vh,
    60vw 30vh,
    15vw 40vh,
    75vw 50vh,
    5vw 60vh,
    80vw 70vh,
    25vw 80vh,
    40vw 90vh,
    10vw 95vh;
    opacity: 0.05;
    z-index: -1;
} 